body,h1,h2,h3,h4,h5,h6 {font-family: Roboto, sans-serif;}
nav {width: 25%;}
nav > a {
    display: inline-block;
    vertical-align: top;
    font-size: x-large;
    padding: 12px;
}
#openNav {
    padding: 20px 24px;
    position: fixed;
}
#mainPart {
    padding-left: 5%;
    padding-right: 5%;
    text-justify: auto;
}
header {
    background-image: linear-gradient(to bottom right, #87CEEB, white);
    background-repeat: no-repeat;
    background-size: 200%;
    display: block;
}
header > h1 {
    padding: 150px 100px;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
.side-nav-style {
    display: none; 
    z-index: 3;
}